a.btn-home {
  text-align: center;
  position: fixed;
  top: 80px;
  left: 0;
  height: 50px;
  width: 50px;
  background: rgba(255, 255, 255, .1);
  line-height: 50px;
  transition: background 200ms ease;
}

a.btn-home svg {
  fill: #fff;
  transform: rotate(180deg);
  width: 15px;
}

a.btn-home:hover,
a.btn-home:focus {
  background: rgba(255, 255, 255, .3);
}