.btn {
  background: none;
  border: 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;
  padding: 10px 45px;
  font-size: 16px;
  font-weight: 600;
  transition: opacity .3s;
  color: var(--text-color);
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  opacity: .7;
}

.btn.primary {
  background: var(--theme-color);
}

.btn.block {
  width: 100%;
}

.btn.disabled {
  opacity: .5;
}

.btn.disabled:hover {
  opacity: .5;
  cursor: default;
}