:root {
  --alert-primary-text: #084298;
  --alert-primary-background: #cfe2ff;
  --alert-secondary-text: #41464b;
  --alert-secondary-background: #e2e3e5;
  --alert-success-text: #0f5132;
  --alert-success-background: #d1e7dd;
  --alert-danger-text: #842029;
  --alert-danger-background: #f8d7da;
  --alert-warning-text: #664d03;
  --alert-warning-background: #fff3cd;
  --alert-info-text: #055160;
  --alert-info-background: #cff4fc;
}

.portfolio {
  padding: 40px 9.36%;
}

.portfolio h3 {
  font-weight: 600;
  font-size: 1.4rem;
  text-align: center;
  margin: 0 0 50px;
}

.element {
  width: 30%;
  display: inline-block;
  margin: 0 0 30px;
}

.element.mid {
  margin: 0 5% 30px;
}

.element img {
  width: 100%;
  /*height: calc(100% * 0.5610);*/
  float: left;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.element .card {
  background: #fff;
  color: #15151D;
  float: left;
  padding: 10px 15px;
  width: calc(100% - 30px);
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.element .card p {
  margin: 0;
  max-width: calc(100% - 25px);
}

.element .card p.title {
  font-size: 18px;
  font-weight: 600;
}

.element .card p.date {
  font-size: 16px;
  color: #606064;
  margin: -3px 0 0;
}

.element .card svg {
  position: absolute;
  top: 25px;
  right: 15px;
}

.element .card svg:hover {
  cursor: pointer;
  opacity: .7;
}

/* modal */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000;
  opacity: .7;
  transform: none !important;
}

.modal {
  position: fixed;
  top: 20%;
  width: 50%;
  left: 25%;
  background: var(--primary-bg-color);
  border-radius: 5px;
  display: flex;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.modal[data-visible="false"],
.overlay[data-visible="false"] {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms, transform 300ms;
  transform: scale(0);
}

.modal[data-visible="true"],
.overlay[data-visible="true"] {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms, transform 300ms;
  transform: scale(1);
}

.overlay[data-visible="true"] {
  opacity: .7;
}

.modal .img,
.modal .content {
  width: 50%;
  float: left;
}

.modal .img {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-size: cover !important;
  background-position: center !important;
}

.modal .content {
  width: calc(50% - 40px);
  padding: 20px 20px 30px 20px;
  position: relative;
}

.modal .content svg.close {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #8d8da5;
  height: 20px;
  transition: opacity 300ms;
}

.modal .content svg.close:hover {
  cursor: pointer;
  opacity: .7;
}

.modal .content h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size: 26px;
  width: calc(100% - 25px);
  float: left;
}

.modal .content p.date,
.modal .content .tags,
.modal .content .tags p {
  float: left;
  margin: 0;
}

.modal .content p.date {
  font-size: 14px;
  color: #8d8da5;
  line-height: 24px;
}

.modal .content p.date:after {
  content: '•';
  margin: 0 10px;
}

.modal .content .tags p {
  font-size: 12px;
  background: var(--alert-success-background);
  color: var(--alert-success-text);
  border-radius: 5px;
  padding: 3px 6px;
  font-weight: 600;
  margin-right: 5px;
}

.modal .content p.desc {
  width: 100%;
  float: left;
  margin: 20px 0 30px;
  color: #8d8da5;
  line-height: 30px;
}

.see {
  border: 0;
  outline: 0;
  font-family: 'Poppins', sans-serif;
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
  transition: opacity .3s;
  color: var(--text-color);
  border-radius: 5px;
  width: 100%;
  background: var(--theme-color);
  text-decoration: none;
  display: block;
  float: left;
  text-align: center;
}

.see:hover {
  cursor: pointer;
  opacity: .7;
}


@media (max-width: 768px) {
  .portfolio {
    padding: 40px 20px;
    width: calc(100% - 40px);
  }

  .element {
    width: 100%;
    margin: 0 0 30px !important;
  }

  .modal {
    display: initial;
    left: 20px;
    right: 20px;
    top: unset;
    bottom: 20px;
    width: calc(100% - 40px);
  }

  .modal .img {
    height: 200px;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
  }

  .modal .img {
    width: 100%;
  }

  .modal .content {
    width: calc(100% - 40px);
  }
}