section.home {
  padding: 0 80px;
  margin: 20% 0 0;
}

section.home h1,
section.home h2 {
  font-family: 'Muli', sans-serif;
  font-weight: 300;
  margin: 0;
}

section.home h1 {
  font-size: 2.5em;
}

section.home h2 {
  font-size: 1.5em;
  margin: 0 0 20px;
}

section.home p {
  opacity: .8;
  margin: 0 0 5px;
}

section.home a.btn-outline {
  margin: 20px 35px 0 0;
}

@media (max-width: 768px) {
  section.home {
    padding: 10px;
  }

  section.home a.btn-outline {
    margin: 20px 0;
    padding: 7px 0;
    width: calc(50% - 10px);
    display: block;
    float: left;
  }

  section.home a.btn-outline:nth-child(odd) {
    margin-right: 10px;
  }
}