section.home {
  margin: 17% 0 0;
}

section.home h2 {
  margin: 0 0 20px;
}

section.home p {
  opacity: .8;
  margin: 0 0 5px;
}

section.home a.btn-outline {
  margin: 20px 35px 0 0;
}

@media (max-width: 768px) {
  section.home a.btn-outline {
    margin: 20px 0;
    padding: 7px 0;
    width: calc(50% - 10px);
    display: block;
    float: left;
  }

  section.home a.btn-outline:nth-child(odd) {
    margin-right: 10px;
  }
}