section.home {
  margin: 17% 0 0;
}

section.home h2 {
  margin: 0 0 20px;
}

section.home p {
  margin: 0 0 5px;
}

section.home p.text-more {
  margin: 15px 0 0;
  transition: all 1s;
}

section.home p.text-more.hidden {
  opacity: 0;
}

section.home a.btn-outline {
  margin: 20px 15px 0 0;
}

section.home p a.toggle-more {
  margin: 0 0 0 5px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

section.home p a.toggle-more:hover {
  cursor: pointer;
  font-weight: 700;
}

@media (max-width: 768px) {
  section.home a.btn-outline {
    margin: 20px 0;
    padding: 7px 0;
    width: calc(50% - 10px);
    display: block;
    float: left;
  }

  section.home a.btn-outline:nth-child(odd) {
    margin-right: 10px;
  }
}