section.contact .holder {
  width: 100%;
  float: left;
}

section.contact .holder .block {
  border: 1px solid rgba(255, 255, 255, .2);
  background: transparent;
  outline: 0;
  padding: 25px 70px;
  color: #fff;
  /*display: inline-block;*/
  float: left;
  margin: 20px 20px 0 0;
  text-align: center;
}

section.contact .holder .block:hover {
  border: 1px solid rgba(255, 255, 255, .8);
}

section.contact .holder .block:hover p {
  color: #eee;
}

section.contact .holder .block svg {
  height: 40px;
}

section.contact .holder .block svg * {
  fill: #eee;
}

section.contact .holder .block p {
  font-size: 15px;
  color: #b9b9b9;
  margin: 15px 0 0;
}


@media (max-width: 768px) {
  section.contact .holder .block {
    width: 100%;
    margin: 20px 0 0;
    padding: 25px 0;
  }
}